*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

.container {
	margin: 0 auto;
	max-width: 40rem;
}

header {
	border-bottom: solid 1px #eee;
}

footer {
	margin-top: 2rem;
	border-top: solid 1px #eee;
}

h1,
h2,
h3 {
	font-weight: 300;
}

a {
	color: #0275d8;
	text-decoration: none;
}

ol,
ul,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

dt {
	font-weight: 700;
}

dl > div {
	display: flex;
}

div > dt {
	padding: 0.5rem 0;
}

div > dd {
	flex-basis: 30%;
	padding: 0.5rem;
}

.todo {
	font-size: 0.875rem;
	color: #c00;
}

.todo::before {
	content: 'TODO: ';
}

.error {
	margin: 1rem 0;
	color: #c00;
	font-size: 2rem;
}

img {
	width: 100%;
}

.logo {
	max-width: 6.25rem;
}

.avatar {
	max-width: 2rem;
	margin-right: 0.5rem;

	vertical-align: top;
	border-radius: 100%;
	border: solid 1px #eee;

	overflow: hidden;
}
