*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

.container {
	margin: 0 auto;
	max-width: 40rem;
}

header {
	border-bottom: solid 1px #eee;
}

footer {
	margin-top: 2rem;
	border-top: solid 1px #eee;
}

h1,
h2,
h3 {
	font-weight: 300;
}

a {
	color: #0275d8;
	text-decoration: none;
}

ol,
ul,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

dt {
	font-weight: 700;
}

dd + dt {
	margin-top: 1rem;
}

.user {
	display: flex;
	margin: 0 0 0 2rem;
}

.user > dt {
	margin: 0 0.5rem;
	font-weight: normal;
}

.user > dt::after {
	content: ':';
}

/* .user > dt + dd {
	margin-right: 0.5rem;
} */

.todo {
	font-size: 0.75rem;
	line-height: 2;
	color: #c00;
}

.todo::before {
	content: 'TODO: ';
}

.error {
	margin: 1rem 0;
	color: #c00;
	font-size: 2rem;
}

img {
	width: 100%;
}

.logo {
	vertical-align: middle;
	max-width: 6.25rem;
}

.avatar {
	max-width: 2rem;
	margin-right: 0.5rem;

	vertical-align: top;
	border-radius: 100%;
	border: solid 1px #eee;

	overflow: hidden;
}

button {
	font: inherit;

	padding: 0.25rem 0.5rem;

	color: #fff;
	border: none;
	border-radius: 0.25rem;

	background: #0275d8;
}

dialog {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);

	width: 100%;
	max-width: 40rem;
	max-height: 80vh;
	overflow: auto;

	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.75);
}

dialog > button {
	margin: 1rem 0 0;
}
